#faq{
    grid-row: auto;
    text-align: center;
    display: grid;
    border: 1px dashed grey;
}
ul{
    list-style-type: none;
}
body{
    font-family: sans-serif;
    background-color: #ffffff;
    margin-top: 80px;
    margin-right: 70px;
    margin-left: 70px;
}
/*Nav Bar
li{
    float: left;
}
h1{
    margin-top: 150px;
    text-align: center;
}
.container {
    display: grid;
    grid-auto-rows: minmax(100px, 100px);
    grid-template-columns: 100px 200px;
    grid-gap: 1vw;
}*/
